body {
    background-color: rgba(238, 237, 159, 0.466);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

#container{
    position: absolute;
    border: red solid 1px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#topNavMenu{
    /* position: absolute; */
    border: #444444 solid 1px;
    width: 100vw;
    height: 5vh;
    /* top: 0;
    left: 0; */
    transition: 200ms;
}

#dataDiv{
    position: ;
    border: red solid 1px;
    width: 100vw;
    height: 5vh;
    /* top: 0;
    left: 0; */
}

#searchDiv{
    position: relative;
    border: yellow solid 1px;
    width: 100vw;
    height: 5vh;
    /* top: 0;
    left: 0; */
}

#productBtn{
    background-color:#c8ccc9;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#080808;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:1px 3px;
    text-decoration:none;
    margin: 5px; 
}

.slideIn{
    height: 0px;
    transition: 200ms;
    overflow: hidden;
}
.slideOut{
    height: 100%;
    transition: 200ms;
}

.productListItem{
    background-color: #a8a7a7;
    border-radius: 10px;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}
/* #productListContainer{
    margin-top: -100%;
} */

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    left: 0;
    z-index: 100;
    border: solid #22aa10 1px;
}