html, body {
    background-color: #ffffff;
    font-family: 'Arial Narrow';
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100vw;
}

#containerMain {
    display: grid;
    grid-template-columns: 1fr;
    /* position: absolute;
    width: 100vw;
    top: 0;
    left: 0; */
}

#containerTop {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
}

#productBtn {
    background-color: #CECCCE;
    border-radius: 3px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #080808;
    font-size: 25px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    margin: 5px;
}

.slideIn {
    height: 0px;
    overflow: hidden;
}

.slideOut {
    height: auto;
}

#productListContainer {
    background-color: #CECCCE;
    padding: 5px;
}

.productListItem {
    background-color: #757475;
    border-radius: 10px;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#topNavMenu {
    top: 0;
    background-color: #CECCCE;
    top: 0;
    font-weight: bold;
    height: 40px;
}

#dataDiv {
    background-color: #010001;
    color: white;
    font-size: 3em;
    font-weight: bold;
    padding: 15px;
    height: 60px;
}

#searchDiv {
    background-color: #6D6C6D;
    color: white;
    font-size: 3em;
    font-weight: bold;
    padding: 15px;
    text-align: right;
    height: 60px;
}

#searchIcon {
    color: #ffffff;
    padding-right: 30px;
}

input[type=text] {
    background-color: #6D6C6D;
    border: none;
    border-bottom: 3px solid white;
    width: 80px;
    font-size: 30px;
    outline: none;
    color: #ffffff;
    transition: 800ms;
}

#productDisplayContainer {  
    margin-top: 220px;  
    position: absolute;
    background-color: #ffff44;
    left: 0;
    width: 100vw;
    height: 700px;
    z-index: -1;
}

/* .bodyProduct{
    background-color: #EDD3B1;
    border: 2px solid rgb(240, 188, 120);
    height: 120px;
    font-size: 80px;
    color: #000000;
    line-height: 120px;
} */

#spinImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    left: 0;
    z-index: 100;
    background-color: #CECCCE;
}

.footerIcon {
    font-size: 30px;
    text-align: center;
}